<!DOCTYPE html>
<html lang="en" style="background-color: #ECECEC">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="<%= htmlWebpackPlugin.options.vars.script_path %>/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>42cloud</title>
</head>
<body>
<div style="height: 100%" id="root"></div>
<script src="<%= htmlWebpackPlugin.options.vars.script_path %>/react/15.6.1/react.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.vars.script_path %>/react/15.6.1/react-dom.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.vars.script_path %>/lodash.js/4.17.4/lodash.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.vars.script_path %>/moment.js/2.18.1/moment.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.vars.script_path %>/echarts/3.6.2/echarts.min.js"></script>
</body>
</html>